<p class="subject-line">Overdue confirmation statement and <span th:if="${is_llp == 'yes'}">member</span><span th:if="${is_llp == 'no'}">director</span> identity verification statements for <span class="subject-line">[[${company_name}]]</span></p>
<br/>
<div class="grey-bg-block">
    <div class="grey-title">
        You have not delivered the following statements to Companies House:
    </div>
    <ul class="grey-list">
        <li>confirmation statement due by <span id="verification-due-date">[[${verification_due_date}]]</span></li>
        <li>identity verification statements for all registered <span th:if="${is_llp == 'yes'}">limited liability partnership (LLP) members</span><span th:if="${is_llp == 'no'}">company directors</span></li>
    </ul>
    <div class="grey-warning-block">
        <img class="black-warning-img" th:src="@{${common} + warning_black.svg}" alt="Warning"/>
        <div class="grey-warning-block-text">
            <span>
                <strong>You must file your overdue confirmation and identity verification statements or make a representation.</strong> There are instructions on the back of this letter.
            </span>
        </div>
    </div>
</div>



<p class="small-heading">If you do not file the statements we may take enforcement action without further notice</p>

<p>This may include prosecution or financial penalties for the <span th:if="${is_llp == 'yes'}">LLP and its members</span><span th:if="${is_llp == 'no'}">company and its directors</span>.</p>

<div class="black-warning-block">
    <img class="white-warning-img" th:src="@{${common} + warning_white.svg}" alt="Warning"/>
    <div class="black-warning-block-text">
        <span>
            <strong>The <span th:if="${is_llp == 'yes'}">LLP and its members</span><span th:if="${is_llp == 'no'}">company and its directors</span> may be committing an offence for failing to file a confirmation statement.</strong>
            Any <span th:if="${is_llp == 'yes'}">member</span><span th:if="${is_llp == 'no'}">director</span> who continues to act as a <span th:if="${is_llp == 'yes'}">member</span><span th:if="${is_llp == 'no'}">director</span> without verifying their identity is also committing an offence. The <span th:if="${is_llp == 'yes'}">LLP</span><span th:if="${is_llp == 'no'}">company</span> is committing an offence for failing to rectify this.
        </span>
    </div>
</div>

<p>For guidance on your duties <span th:if="${is_llp == 'yes'}">in running an LLP, visit:<br/><span class="emphasis">gov.uk/guidance/set-up-and-run-a-limited-liability-partnership-llp</span></span><span th:if="${is_llp == 'no'}">as a director, visit:<span class="emphasis">gov.uk/guidance/being-a-company-director</span></span></p>

<p class="subject-line" style="page-break-before: always">What you need to do</p>
<p class="subject-line-spacer"></p>

<table>
    <tr>
        <td class="verification-requirements">
            <p class="verification-requirements-heading">Step 1. Each <span th:if="${is_llp == 'yes'}">member</span><span th:if="${is_llp == 'no'}">director</span> must verify their identity</p>
            <p class="verification-requirements-text">For information on how to do this, search online for ‘Verifying your identity for Companies House’, or visit:<br/><span class="emphasis">gov.uk/guidance/verifying-your-identity-for-companies-house</span></p>
            <p class="verification-requirements-text">After each <span th:if="${is_llp == 'yes'}">member</span><span th:if="${is_llp == 'no'}">director</span> has verified, they’ll receive a unique identifier called a Companies House personal code.</p>
            <p class="verification-requirements-text">If you already have a personal code, you do not need to verify your identity again.</p>
            <p class="verification-requirements-text">You’ll need each <span th:if="${is_llp == 'yes'}">member’s</span><span th:if="${is_llp == 'no'}">director’s</span> personal code for step 2.</p>
        </td>
        <td class="verification-requirements-spacer"></td>
        <td class="verification-requirements">
            <p class="verification-requirements-heading">Step 2. File the confirmation statement and verification statement</p>
            <p class="verification-requirements-text">In the confirmation statement, you will need to provide the Companies House personal code for each <span th:if="${is_llp == 'yes'}">member</span><span th:if="${is_llp == 'no'}">director</span> to submit their identity verification statements.</p>
            <p class="verification-requirements-text">You need to do this even if a <span th:if="${is_llp == 'yes'}">member</span><span th:if="${is_llp == 'no'}">director</span> has already provided their personal code and statement for other roles at this <span th:if="${is_llp == 'yes'}">LLP</span><span th:if="${is_llp == 'no'}">company</span>, or at other companies.</p>
            <p class="verification-requirements-text">To file your confirmation statement, search GOV.UK for ‘file your confirmation statement with Companies House’ or visit:<br/><span class="emphasis">gov.uk/file-your-confirmation-statement-with-companies-house</span></p>
        </td>
    </tr>
</table>

<p class="small-heading">How to make representations</p>

<p>If there are exceptional circumstances you want us to consider before we proceed with enforcement action, you must write to us by <span id="action-due-date">[[${representation_due_date}]]</span>. This is called a representation.</p>

<p>To make a representation, go to <span class="emphasis">https://www.gov.uk/government/publications/make-a-representation-for-not-filing-an-identity-verification-statement</span></p>

<p>If we accept your representation, we will pause enforcement action for a limited period so you can file the statements. The <span th:if="${is_llp == 'yes'}">LLP and its members</span><span th:if="${is_llp == 'no'}">company and its directors</span> will remain in default and we’ll resume enforcement if you do not successfully file the statements.</p>

<p class="small-heading">If you no longer need the <span th:if="${is_llp == 'yes'}">LLP</span><span th:if="${is_llp == 'no'}">company</span></p>

<p>If your <span th:if="${is_llp == 'yes'}">LLP</span><span th:if="${is_llp == 'no'}">company</span> is not trading and you want to remove it from the register, go to:<br/><span class="emphasis"><span th:if="${is_llp == 'yes'}">gov.uk/government/publications/striking-off-or-dissolving-a-limited-liability-partnership</span><span th:if="${is_llp == 'no'}">gov.uk/closing-a-limited-company</span></span></p>