<p class="subject-line">ACTION REQUIRED: Overdue Statutory Filings</p>
<p class="subject-line"><span class="subject-line">[[${company_name}]] ([[${company_number}]])</span></p>
<hr/>

<p>
    We are writing to inform you that [[${company_name}]] has failed to deliver the following documents to Companies House:
    <ol>
        <li>Annual confirmation statement (CS01 form) for the review period between <span id="cs-review-period-start-date">[[${cs_review_period_start_date}]]</span> and <span id="cs-review-period-end-date">[[${cs_review_period_end_date}]]</span>.</li>
        <li>Director identity verification statements for all registered company directors.</li>
    </ol>
</p>

<p>These statements must be filed together to comply with requirements under the Economic Crime and Corporate Transparency Act 2023, which introduced mandatory identity verification for all company directors and persons with significant control (PSCs).</p>

<p>You must deliver the outstanding statements or, if you are unable to comply due to exceptional circumstances, submit the reason in writing by <span id="action-due-date">[[${action_due_date}]]</span>.</p>

<p>Failure to file a confirmation statement constitutes an offence under Section 853L of the Companies Act 2006. In addition, any director who continues to act without verifying their identity will be committing an offence under Section 167M of the Companies Act 2006.</p>

<p>
    Where these requirements are not met, we may initiate enforcement action without further notice. This may include:
    <ul>
        <li>Prosecution of the company and its officers</li>
        <li>Financial penalties imposed on individual directors and the company</li>
        <li>Strike-off proceedings, resulting in the company being removed from the register</li>
        <li>Disqualification of directors, preventing them from acting in similar roles in the future</li>
    </ul>
</p>

<p class="emphasis">Instructions on how to comply with identity verification requirements and submit reasons for exceptional circumstances are on the back of this letter.</p>

<p class="subject-line" style="page-break-before: always">There are 2 steps to comply with identity verification requirements:</p>
<p class="subject-line-spacer"></p>

<table>
    <tr>
        <td class="verification-requirements">
            <p class="verification-requirements-heading">1. Verify your identity</p>
            <p class="verification-requirements-text">For information on how to do this, search online for ‘Verifying your identity for Companies House’, or visit: <span class="emphasis">gov.uk/guidance/verifying-your-identity-for-companies-house</span></p>
            <p class="verification-requirements-text">After you’ve verified your identity, you’ll get a unique identifier, called a Companies House personal code.</p>
            <p class="verification-requirements-text">If you already have a personal code, you do not need to verify your identity again.</p>
            <br/>
            <p class="emphasis">All registered company directors will need a personal code</p>
        </td>
        <td class="verification-requirements-spacer"></td>
        <td class="verification-requirements">
            <p class="verification-requirements-heading">2. Provide your Companies House personal code</p>
            <p class="verification-requirements-text">This is so we can connect your verified identity to the director name on our records.</p>
            <p class="verification-requirements-text">Search online for the ‘Provide identity verification details for a person with significant control’ service, or visit:<br/><span class="emphasis">[insert link]</span></p>
            <p class="verification-requirements-text">You’ll also be asked to tick a statement confirming that you’ve verified your identity when filing the companies confirmation statement.</p>
            <p class="verification-requirements-text">You need to do this even if you’ve already done it for other roles you have at this company, or at other companies.</p>
        </td>
    </tr>
</table>

<p class="small-heading">Exceptional circumstances</p>
<p>If you are unable to comply due to exceptional circumstances, you may submit written representations by [insert contact method] within <span class="emphasis">28 days</span> of the date of this letter.</p>

<p>If the exceptional circumstances are accepted, enforcement action will be paused for a limited period to allow time for you to submit the required documents. If enforcement action is paused, the company and its directors remain in default until the required documents are received. If the documents are not submitted by the deadline we provide, enforcement action will resume without further notice.</p>

<p>For further guidance on exceptional circumstances visit: [insert link].</p>

<p class="small-heading">Check the register</p>
<p>It is important to make sure we hold the correct details for each director of your company. If there are directors that are no longer active, you may wish to remove them from the register by filing a form [make changes form].</p>

<p class="small-heading">If you no longer need the company</p>
<p>You may be able to apply to remove it from the register. It’s important to close down your company properly. Visit: <span class="emphasis">gov.uk/closing-a-limited-company</span></p>