<p class="subject-line">As a person with significant control (PSC) of <span class="subject-line">[[${company_name}]]</span>
    you need to verify your identity for Companies House.</p>
<hr/>

<p class="close-packed-top">Dear <span class="emphasis">[[${psc_full_name}]]</span>,</p>
<p class="close-packed-middle">As a PSC of a UK company, there is a new legal requirement for you to verify your identity
    for Companies House. After verifying, you’ll be given a Companies House personal code,
    which you must use to connect your verified identity to our records.</p>
<p>As a PSC of <span class="emphasis">[[${company_name}]]</span>
you needed to do this by <span class="emphasis">[[${deadline_date}]]</span>. That deadline has now passed.</p>
<p class="emphatic-block">You must now comply with identity verification
requirements by <span class="emphasis">[[${extension_date}]]</span>.</p>
<p class="warning-block">
    If you do not comply with identity verification requirements,<br/>
    you will be committing an offence and may have to pay a <br/>
    financial penalty or fine. We may also display a note against <br/>
    your name on the Companies House register.
    <img class="warning-img" src="../common/warning.svg" alt="Companies House warning"/>
</p>

<p>You need to do this for your role as PSC of [[${company_name}]] even if you’ve already done it for:</p>
<ul style="page-break-after: always; margin-top: 1mm">
    <li>other roles you hold at this company (for example if you are also a director)</li>
    <li>any roles you hold at other companies</li>
</ul>

<p class="subject-line">There are 2 things you must do to comply with identity
    verification requirements:</p>
<p class="subject-line-spacer"></p>

<table>
    <tr>
        <td class="verification-requirements">
            <p class="verification-requirements-heading">1. Verify your identity</p>
            <p class="verification-requirements-text">For information on how to do this, search
                online for ‘Verifying your identity for
                Companies House’, or visit:
                <span class="emphasis">gov.uk/verifying-your-identity-for-companieshouse</span>
            </p>
            <p class="verification-requirements-text">After you’ve verified your identity, you'll get
                a Companies House personal code. If you
                already have a personal code, you do not
                need to verify your identity again.</p>
        </td>
        <td class="verification-requirements-spacer"></td>
        <td class="verification-requirements">
            <p class="verification-requirements-heading">2. Provide your Companies
                House personal code</p>
            <p class="verification-requirements-text">You must provide your personal code so that
                we can connect your verified identity to the
                correct PSC name on our records.</p>
            <p class="verification-requirements-text">To do this, search online for the ‘Provide
                verification details for a PSC’ service, or visit:
                <span class="emphasis">gov.uk/provide-verificationdetails-for-a-psc</span>
            </p>
        </td>
    </tr>
</table>

<p class="emphasis">If you are unable to complete both steps by the deadline</p>
<p style="margin-top: 1mm">Before you reach your deadline, use the ‘Provide verification details for a PSC’ service to request
    a 14 day extension:<br/>
    <span class="emphasis" style="margin-top: 1mm">gov.uk/provide-verificationdetails-for-a-psc</span>
</p>

<hr/>

<p class="subject-line">Why PSCs need to verify</p>

<p>This new legal requirement is a result of the Economic Crime and Corporate Transparency Act.
    All company directors and PSCs must verify their identity to prove they are who <br/>they say they are.
    This has been introduced to help prevent people using companies for illegal purposes.</p>

<p class="close-packed-top">Louise Smyth,</p>
<p class="close-packed-middle emphasis">Chief Executive.</p>
<p class="close-packed-bottom emphasis">Registrar of Companies for England and Wales</p>