<p class="subject-line">We’ve accepted the request to extend your identity verification deadline. This is for
    your role as a person with significant control of:</p>
<p class="subject-line"><span class="subject-line">[[${company_name}]] ([[${company_number}]])</span></p>
<hr/>

<p class="close-packed-top">Dear <span class="emphasis">[[${psc_name}]]</span></p>
<p class="close-packed-middle">On <span id="extension_request_date">[[${extension_request_date}]]</span>, you
    (or someone filing on your behalf) submitted an extension request for more time to
    comply with identity verification requirements. Your request has been accepted.</p>
<p>Under the power provided by section 790LM of the Companies Act 2006, the Registrar of Companies now extends
    the deadline by which you must deliver a statement confirming that your identity is verified.</p>
<p>You have been given a 14 day extension. This extension only applies to your role as a PSC of this company, not to
    any other PSC or director roles you hold.</p>
<p>Instructions on how to meet identity verification requirements are on the back of this letter.</p>
<p class="emphatic-block">Your new identity verification deadline is
    <span class="emphasis" id="idv-verification-due-date">[[${idv_verification_due_date}]]</span>.</p>
<p class="warning-block">
    If you do not comply, you may be committing an offence. You may face<br/>
    prosecution and a fine through the courts, or a financial penalty. In the future,<br/>
    we’ll publish a note against your name on the Companies House public register.
    <img class="warning-img" th:src="@{${common} + warning.svg}" alt="Companies House warning"/>
</p>

<p class="emphasis" style="margin-top: 1cm">
    <img class="information-img" th:src="@{${common} + information.svg}" alt="Companies House information"/>
    <table style="width: 100%; margin-left: 8mm">
        <tr></tr>
        <tr>If you are not [[${psc_name}]], you must forward this letter to them immediately.</tr>
    </table>
</p>

<p class="subject-line" style="page-break-before: always">There are 2 things you must do to comply with identity
    verification requirements.</p>
<p class="subject-line-spacer"></p>

<table>
    <tr>
        <td class="verification-requirements">
            <p class="verification-requirements-heading">1. Verify your identity</p>
            <p class="verification-requirements-text">For information on how to do this, search
                online for ‘Verifying your identity for
                Companies House’, or visit:
                <span class="emphasis">gov.uk/guidance/verifying-your-identity-for-companies-house</span>
            </p>
            <p class="verification-requirements-text">After you’ve verified your identity, you’ll get a
                unique identifier, called a Companies House personal code.</p>
            <p class="verification-requirements-text">If you already have a personal code, you do not
                need to verify your identity again.</p>
        </td>
        <td class="verification-requirements-spacer"></td>
        <td class="verification-requirements">
            <p class="verification-requirements-heading">2. Provide your Companies
                House personal code</p>
            <p class="verification-requirements-text">This is so we can connect your verified identity
                to the PSC name on our records.</p>
            <p class="verification-requirements-text">Search online for the ‘Provide identity
                verification details for a person with significant control’ service, or visit:<br/>
                <span class="emphasis">gov.uk/provide-identity-verification-details-for-a-psc</span>
            </p>
            <p class="verification-requirements-text">You’ll also be asked to tick a statement confirming
                that you’ve verified your identity.</p>
            <p class="verification-requirements-text">You need to do this even if you’ve already done it
                for other roles you have at this company, or at other companies.</p>
        </td>
    </tr>
</table>

<p class="small-heading">If you are unable to complete both steps by your new deadline</p>
<p style="margin-top: 1mm">Before <span id="idv-verification-due-date-2">[[${idv_verification_due_date}]]</span>, you can
    use the ‘Provide identity verification details for a person with significant control’ service to request
    another extension.<br/>
    <span class="emphasis" style="margin-top: 1mm">gov.uk/provide-identity-verification-details-for-a-psc</span>
</p>

<p class="small-heading">Why PSCs need to verify their identity</p>
<p style="margin-top: 1mm">This is a new legal requirement under the Economic Crime and Corporate Transparency
    Act 2023.</p>
<p style="margin-top: 1mm">All company directors and PSCs must verify their identity to prove they are who
    they say they are.</p>
<p style="margin-top: 1mm">This has been introduced to help prevent people using companies for illegal purposes.</p>