<p class="subject-line">Your identity verification statement is overdue. This is for your role as a person with significant control (PSC) of:</p>
<p class="subject-line"><span class="subject-line">[[${company_name}]] ([[${company_number}]])</span></p>
<hr/>

<p>Dear [[${psc_name}]],</p>

<p>You have not delivered a statement to Companies House to confirm your identity.</p>

<p>This is a new legal requirement under the Economic Crime and Corporate Transparency Act 2023. All company directors and PSCs must verify their identity and submit an identity verification statement to Companies House to prove they are who they say they are. This has been introduced to increase transparency and help prevent people using companies for illegal purposes.</p>

<p>You must verify your identity and submit a statement confirming that you've done so.</p>

<p>If you are unable to comply on time due to exceptional circumstances, you must submit your reason in writing by [[${action_due_date}]].</p>

<p class="emphasis">Instructions on how to do this are on the back of this letter.</p>
<br/>
<p class="warning-block">
    If you do not comply, you may be committing an offence. You may face<br/>
    prosecution and a fine through the courts, or a financial penalty. In the future,<br/>
    we’ll publish a note against your name on the Companies House public register.
    <img class="warning-img" th:src="@{${common} + warning.svg}" alt="Companies House warning"/>
</p>

<p class="subject-line" style="page-break-before: always">There are 2 things you must do to comply with identity verification requirements</p>
<p class="subject-line-spacer"></p>

<table>
    <tr>
        <td class="verification-requirements">
            <p class="verification-requirements-heading">1. Verify your identity</p>
            <p class="verification-requirements-text">For information on how to do this, search online for ‘Verifying your identity for Companies House’, or visit: <span class="emphasis">gov.uk/guidance/verifying-your-identity-for-companies-house</span></p>
            <p class="verification-requirements-text">After you’ve verified your identity, you’ll get a unique identifier, called a Companies House personal code.</p>
            <p class="verification-requirements-text">If you already have a personal code, you do not need to verify your identity again.</p>
        </td>
        <td class="verification-requirements-spacer"></td>
        <td class="verification-requirements">
            <p class="verification-requirements-heading">2. Provide your Companies House personal code</p>
            <p class="verification-requirements-text">This is so we can connect your verified identity to the PSC name on our records.</p>
            <p class="verification-requirements-text">Search online for the ‘Provide identity verification details for a person with significant control’ service, or visit:<br/><span class="emphasis">gov.uk/provide-identity-verification-details-for-a-psc</span></p>
            <p class="verification-requirements-text">You’ll also be asked to tick a statement confirming that you’ve verified your identity.</p>
            <p class="verification-requirements-text">You need to do this even if you’ve already done it for other roles you have at this company, or at other companies.</p>
        </td>
    </tr>
</table>

<p class="small-heading">How to make representations</p>

<p>If there are exceptional circumstances that you want us to consider before we proceed with enforcement action, you need to submit written representations [[${action_due_date}]].</p>

<p>For guidance on making representations visit: <span class="emphasis">[insert link]</span>.</p>

<p>If the representations are accepted, we will pause enforcement for a limited period to allow you to submit the required outstanding identity verification statement.</p>

<p class="small-heading">Check the register</p>

<p>If you are no longer a PSC of the company, or your details on the register need to be corrected, you or someone authorised to file for the company must submit a filing to correct or update the company record.</p>