<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <link th:replace="~{../common/notify_letter_layout :: stylesheet()}">
    <link th:href="@{${letter} + IDVPSCDEFAULT_v1.css}" media="all" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="english_letter">
    <section th:replace="~{../common/notify_letter_layout :: notifyLetterLayout(
        ~{IDVPSCDEFAULT_content_v1.2},
        ~{IDVPSCDEFAULT_title_v1},
        'Company number',
        ${company_number})}">
    </section>
</div>
</body>
</html>