<p class="subject-line">Overdue identity verification statement for your role as a person with significant control (PSC) of [[${company_name}]]</p>

<br/>
<br/>
<br/>

<p class="emphasis">You have not delivered a statement to Companies House to confirm your identity.<br/>This was due by <span id="verification-due-date">[[${verification_due_date}]]</span>.</p>

<p>This is a new legal requirement under the Economic Crime and Corporate Transparency Act 2023. All <span th:if="${is_llp == 'yes'}">limited liability partnership (LLP) members</span><span th:if="${is_llp == 'no'}">company directors</span> and PSCs must verify their identity and submit a statement to Companies House for each role in each <span th:if="${is_llp == 'yes'}">LLP</span><span th:if="${is_llp == 'no'}">company</span>.</p>

<p>Your deadline has passed and cannot be extended because it is a legal requirement to verify your identity.</p>

<div class="grey-bg-block">
    <div class="grey-warning-block">
        <img class="black-warning-img" th:src="@{${common} + warning_black.svg}" alt="Warning"/>
        <div class="grey-warning-block-text">
            <span>
                <strong>You must submit your identity verification statement or make a representation by <span id="action-due-date">[[${representation_due_date}]]</span>.</strong> There are instructions on the back of this letter.
            </span><br/><br/>
            <span>If you do not file the statement you may be committing an offence.</span><br/>
            <span>You may face prosecution or a financial penalty.</span>
        </div>
    </div>
</div>

<p class="subject-line" style="page-break-before: always">What you need to do</p>
<p class="subject-line-spacer"></p>

<table>
    <tr>
        <td class="verification-requirements">
            <p class="verification-requirements-heading">1. Verify your identity</p>
            <p class="verification-requirements-text">For information on how to do this, search online for ‘Verifying your identity for Companies House’, or visit: <span class="emphasis">gov.uk/guidance/verifying-your-identity-for-companies-house</span></p>
            <p class="verification-requirements-text">After you’ve completed your identity verification check you’ll get a unique identifier, called a Companies House personal code.</p>
            <p class="verification-requirements-text">If you already have a personal code, you do not need to verify your identity again.</p>
            <p class="verification-requirements-text">You’ll need your personal code for step 2.</p>
        </td>
        <td class="verification-requirements-spacer"></td>
        <td class="verification-requirements">
            <p class="verification-requirements-heading">2. Submit your identity verification statement to Companies House</p>
            <p class="verification-requirements-text">Search online for the ‘Provide identity verification details for a person with significant control’ service, or visit:<br/><span class="emphasis">gov.uk/guidance/provide-psc-verification</span></p>
            <p class="verification-requirements-text">Provide your personal code. This is so we can connect your verified identity to the PSC name on our records. You’ll also be asked to tick a statement confirming that you’ve verified your identity.</p>
            <p class="verification-requirements-text">You need to do this even if you’ve already done it for other roles you have at this <span th:if="${is_llp == 'yes'}">LLP</span><span th:if="${is_llp == 'no'}">company</span>, or at other companies.</p>
        </td>
    </tr>
</table>

<p class="small-heading">How to make representations</p>

<p>If there are exceptional circumstances you want us to consider before we proceed with enforcement action, you must write to us by [[${action_due_date}]]. This is called a representation.</p>

<p>To make a representation, go to <span class="emphasis">https://www.gov.uk/government/publications/make-a-representation-for-not-filing-an-identity-verification-statement</span>.</p>

<p>If we accept your representation, we will pause enforcement action for a limited period so you can file the statement. You will remain in default and enforcement action will resume if you do not submit the statement.</p>

<p class="small-heading">Check the register</p>

<p>If you are no longer a PSC of the <span th:if="${is_llp == 'yes'}">LLP</span><span th:if="${is_llp == 'no'}">company</span> or your details on the register need to be corrected, the <span th:if="${is_llp == 'yes'}">LLP</span><span th:if="${is_llp == 'no'}">company</span> must submit a filing to update its record.</p>