.new-psc-direction-letter-title {
    display: block;
    height: 24mm;
    width: 58mm; /* was 70 then 64mm */
    font-family: Arial, sans-serif;
    font-weight:bold;
    font-size: 5.5mm;
    line-height: 6.0mm;
    color: white;
    padding-left: 4mm;
    padding-right: 3mm;
    padding-bottom: 3mm;
    padding-top: 2mm;
    background-color: black;
    border-radius: 1.2mm;
}
.date-and-reference-label {
    font-family: Arial, sans-serif;
    font-weight: bold;
}
.date-and-reference-spacing {
    height: 4mm;
}
.subject-line {
    padding-top: 0;
    margin-top: 0;

    font-family: Arial, sans-serif;
    font-size: 5.3mm;
    line-height: 7.0mm;
    font-weight: bold;
}
p {
    margin-bottom: -1mm;
    font-family: Arial, sans-serif;
    font-size: 4.0mm;
    /* overflow-wrap: anywhere  is not recognised by the version of Flying Saucer we are using,
       but word-wrap: break-word is. */
    word-wrap: break-word;
}
li {
    font-family: Arial, sans-serif;
}
hr {
    margin-top: 5mm;
    border: none;
    height: 0.55mm;
    background-color: black;
}
.emphasis {
    font-weight:bold;
}
.small-heading {
    font-weight:bold;
    font-size: 5.0mm;
}
.emphatic-block {
    display: block;
    color: white;
    margin-bottom: 1.5mm;
    padding: 3mm;
    /* CHN1 black from https://brand.companieshouse.gov.uk/document/309#/brand-elements/colour */
    background-color: #1a1a1a;
    border-radius: 1.2mm;
    text-align: center;
}
.warning-block {
    display: block;
    font-size: 13pt;
    line-height: 14pt;
    color: white;
    margin-top: 2mm;
    padding: 3mm;
    /* CHN3 accent only red from https://brand.companieshouse.gov.uk/document/309#/brand-elements/colour */
    background-color: #cd1423;
    border-radius: 1.2mm;
    position: relative;
    text-align: left;
}
.warning-img {
    height:9mm;
    width: 100%;
    position:absolute;
    top: 16mm;
    left: 84mm;
}
.information-img {
    height:7mm;
    width: 7mm;
    position:relative;
    float: left;
}
.subject-line-spacer {
    font-size: x-small;
}
.verification-requirements {
    border-top: 1mm solid black;
    /* CHN2 grey from https://brand.companieshouse.gov.uk/document/309#/brand-elements/colour */
    background-color: #f1f1f1;
    width: 46%;
    padding-left: 3mm;
    padding-right: 3mm;
    padding-bottom: 3mm;
    vertical-align: top;
}
.verification-requirements-spacer {
    width: 3%;
}
.verification-requirements-text {
    margin-top: 3mm;
    margin-left: 2mm;
    margin-right: 2mm;
}
.verification-requirements-heading {
    font-size: 5.0mm;
    line-height: 5.5mm;
    font-weight: bold;
    margin-top: 3mm;
    margin-left: 2mm;
    margin-right: 2mm;
}
.close-packed-top {
    padding-bottom: 0;
    margin-bottom: 0
}
.close-packed-middle {
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0
}