<p class="subject-line">You need to verify your identity for Companies House.</p>
<p class="subject-line">This is for your role as a person with significant control of:</p>
<p class="subject-line"><span class="subject-line">[[${company_name}]] ([[${company_number}]])</span></p>
<hr/>

<p class="close-packed-top">Dear <span class="emphasis">[[${psc_name}]]</span></p>
<p class="close-packed-middle">As a person with significant control (PSC) of a UK company, there’s a new
    legal requirement for you to verify your identity for Companies House, and to deliver a statement
    confirming that you have done so.</p>
<p>As a PSC who is not also a director of this company, you must provide your statement within the first 14
    days of your birth month. Based on the data we hold, you’ll need to do this between:<br/>
    <span class="emphasis">[[${idv_start_date}]] – [[${idv_verification_due_date}]]</span></p>
<p>Instructions on how to meet these identity verification requirements are on the back of this letter.</p>
<p class="emphatic-block">You must comply with identity verification requirements by
    <span class="emphasis" id="idv-verification-due-date">[[${idv_verification_due_date}]]</span>.</p>
<p class="warning-block">
    If you do not comply, you may be committing an offence. You may face<br/>
    prosecution and a fine through the courts, or a financial penalty. In the future,<br/>
    we’ll publish a note against your name on the Companies House public register.
    <img class="warning-img" th:src="@{${common} + warning.svg}" alt="Companies House warning"/>
</p>

<p class="emphasis" style="margin-top: 8mm">
    <img class="information-img" th:src="@{${common} + information.svg}" alt="Companies House information"/>
    <table style="width: 98%; margin-left: 8mm">
        <tr></tr>
        <tr>If you are not [[${psc_name}]], you must forward this letter to them immediately.</tr>
    </table>
</p>

<p class="subject-line" style="page-break-before: always">There are 2 things you must do to comply with identity
    verification requirements.</p>
<p class="subject-line-spacer"></p>

<table>
    <tr>
        <td class="verification-requirements">
            <p class="verification-requirements-heading">1. Verify your identity</p>
            <p class="verification-requirements-text">For information on how to do this, search
                online for ‘Verifying your identity for
                Companies House’, or visit:<br/>
                <span class="emphasis">gov.uk/guidance/verifying-your-identity-for-companies-house</span>
            </p>
            <p class="verification-requirements-text">After you’ve verified your identity, you’ll get a
                unique identifier, called a Companies House personal code.</p>
            <p class="verification-requirements-text">If you already have a personal code, you do not
                need to verify your identity again.</p>
        </td>
        <td class="verification-requirements-spacer"></td>
        <td class="verification-requirements">
            <p class="verification-requirements-heading">2. Provide your Companies
                House personal code</p>
            <p class="verification-requirements-text">This is so we can connect your verified identity
                to the PSC name on our records.</p>
            <p class="verification-requirements-text">Search online for the ‘Provide identity
                verification details for a person with significant control’ service, or visit:<br/>
                <span class="emphasis">gov.uk/guidance/provide-psc-verification</span>
            </p>
            <p class="verification-requirements-text">You’ll also be asked to tick a statement confirming
                that you’ve verified your identity.</p>
            <p class="verification-requirements-text">You need to do this even if you’ve already done it
                for other roles you have at this company, or at other companies.</p>
        </td>
    </tr>
</table>

<p class="small-heading">If you are unable to complete both steps by the deadline</p>
<p style="margin-top: 1mm">Between <span id="idv-start-date">[[${idv_start_date}]]</span> and
    <span id="idv-verification-due-date-2">[[${idv_verification_due_date}]]</span>, you can use the
    ‘Provide identity verification details for a person with significant control’ service to request an extension:<br/>
    <span class="emphasis" style="margin-top: 1mm">gov.uk/guidance/provide-psc-verification</span>
</p>

<p class="small-heading">Why PSCs need to verify their identity</p>
<p style="margin-top: 1mm">This is a new legal requirement under the Economic Crime and Corporate Transparency
    Act 2023.</p>
<p style="margin-top: 1mm">All company directors and PSCs must verify their identity to prove they are who
    they say they are.</p>
<p style="margin-top: 1mm">This has been introduced to help prevent people using companies for illegal purposes.</p>

<p class="small-heading">If you’re no longer a PSC of this company</p>
<p style="margin-top: 1mm">You should contact the company and let them know they need to update the PSC information on the Companies
    House register. If you’ve already done this, and the company has notified us of those changes,
    you do not need to do anything else.</p>