<p class="subject-line">Rydym wedi derbyn eich cais am estyniad i’ch dyddiad cau gwiriad hunaniaeth. Mae hyn ar
    gyfer eich rôl fel person sydd â rheolaeth arwyddocaol o: [[${company_name}]] ([[${company_number}]])</p>
<hr/>

<p class="close-packed-top">Annwyl <span class="emphasis">[[${psc_name}]]</span></p>
<p class="close-packed-middle">Ar <span id="extension_request_date">[[${welsh_extension_request_date}]]</span>, fe
    wnaethoch chi (neu rywun sy'n ffeilio ar eich rhan) gyflwyno cais estyniad am fwy o amser i gwrdd â
    gofynion gwiriad hunaniaeth. Derbyniwyd eich cais.</p>
<p>O dan y pŵer a ddarperir gan adran 790LM o Ddeddf Cwmnïau 2006, mae'r Cofrestrydd Cwmnïau bellach yn rhoi estyniad
    i’ch dyddiad cau ar gyfer pryd y mae'n rhaid i chi gyflwyno datganiad sy'n cadarnhau eich bod wedi cwblhau
    gwiriad hunaniaeth.</p>
<p>Rydych wedi cael estyniad o 14 diwrnod. Mae'r estyniad hwn yn berthnasol i'ch rôl fel PRhA o'r cwmni hwn yn unig,
    nid i unrhyw rolau PRhA neu gyfarwyddwr eraill sydd gennych.</p>
<p>Mae cyfarwyddiadau ar sut i gwrdd â gofynion gwiriad hunaniaeth ar gefn y llythyr hwn.</p>
<p class="emphatic-block">Eich dyddiad cau newydd i gwblhau gwiriad hunaniaeth yw
    <span class="emphasis" id="idv-verification-due-date">[[${welsh_idv_verification_due_date}]]</span>.</p>
<p class="warning-block">
    Os nad ydych chi'n cydymffurfio, efallai y byddwch chi'n cyflawni trosedd. Efallai<br/>
    y byddwch yn wynebu erlyniad a dirwy drwy'r llysoedd, neu gosb ariannol. Yn y<br/>
    dyfodol, byddwn yn cyhoeddi nodyn yn erbyn eich enw ar gofrestr gyhoeddus<br/>
    Tŷ'r Cwmnïau.
    <img class="welsh-warning-img" th:src="@{${common} + warning.svg}" alt="Companies House warning"/>
</p>

<p class="emphasis" style="margin-top: 1cm">
    <img class="information-img" th:src="@{${common} + information.svg}" alt="Companies House information"/>
    <table style="width: 100%; margin-left: 8mm">
        <tr></tr>
        <tr>Os nad chi yw [[${psc_name}]], mae’n rhaid i chi anfon y llythyr ymlaen atynt ar unwaith.</tr>
    </table>
</p>

<p class="subject-line" style="page-break-before: always">Mae yna 2 beth y mae’n rhaid i chi eu gwneud i gydymffurfio â gofynion
    gwiriad hunaniaeth.</p>
<p class="subject-line-spacer"></p>

<table>
    <tr>
        <td class="verification-requirements">
            <p class="verification-requirements-heading">1. Cwblhau gwiriad hunaniaeth</p>
            <p class="verification-requirements-text">I gael gwybodaeth am sut i wneud hyn, chwiliwch ar-lein am
                ‘Gwirio eich hunaniaeth ar gyfer Tŷ’r Cwmnïau’, neu ewch i:
                <span class="emphasis">gov.uk/guidance/verifying-your-identity-for-companies-house.cy</span>
            </p>
            <p class="verification-requirements-text">Ar ôl i chi gwblhau gwiriad hunaniaeth, mi fyddwch yn cael cod
                adnabod unigryw, o’r enw cod personol<br/> Tŷ’r Cwmnïau.</p>
            <p class="verification-requirements-text">Os oes gennych god personol eisoes, nid oes angen i chi
                gwblhau gwiriad hunaniaeth eto.</p>
        </td>
        <td class="verification-requirements-spacer"></td>
        <td class="verification-requirements">
            <p class="verification-requirements-heading">2. Darparu eich cod personol
                i Dŷ’r Cwmnïau</p>
            <p class="verification-requirements-text">Mae hyn er mwyn i ni allu cysylltu eich hunaniaeth sydd wedi’i
                gwirio â’r enw PRhA ar ein cofnodion.</p>
            <p class="verification-requirements-text">Chwiliwch ar-lein am y gwasanaeth
                ‘Darparu manylion gwiriad hunaniaeth ar gyfer person sydd â rheolaeth arwyddocaol, neu ewch i:<br/>
                <span class="emphasis">gov.uk/provide-identity-verification-details-for-a-psc</span>
            </p>
            <p class="verification-requirements-text">Gofynnir i chi hefyd dicio datganiad sy’n cadarnhau eich bod
                wedi cwblhau gwiriad hunaniaeth.</p>
            <p class="verification-requirements-text">Mae angen i chi wneud hyn hyd yn oed os ydych chi eisoes wedi
                ei wneud ar gyfer rolau eraill sydd gennych chi yn y cwmni, neu mewn cwmnïau eraill.</p>
        </td>
    </tr>
</table>

<p class="small-heading">Os na allwch gwblhau'r ddau gam erbyn eich dyddiad cau newydd</p>
<p style="margin-top: 1mm">Cyn <span id="idv-verification-due-date-2">[[${welsh_idv_verification_due_date}]]</span>, gallwch
    ddefnyddio'r gwasanaeth 'Darparu manylion gwiriad hunaniaeth ar gyfer person sydd â rheolaeth arwyddocaol'
    i ofyn am estyniad arall.<br/>
    <span class="emphasis" style="margin-top: 1mm">gov.uk/provide-identity-verification-details-for-a-psc</span>
</p>

<p class="small-heading">Pam mae angen i PRhA cwblhau gwiriad hunaniaeth</p>
<p style="margin-top: 1mm">Mae hwn yn ofyniad cyfreithiol newydd o dan Ddeddf Troseddau Economaidd a Thryloywder
    Corfforaethol 2023. Rhaid i bob cyfarwyddwr cwmni a PRhA gwblhau gwiriad hunaniaeth i brofi mai nhw yw pwy
    maen nhw’n honni eu bod nhw. Mae hyn wedi'i gyflwyno i helpu i atal pobl rhag defnyddio cwmnïau at ddibenion
    anghyfreithlon.</p>