<p class="subject-line">Mae angen i chi gwblhau gwiriad hunaniaeth ar gyfer Tŷ’r Cwmnïau.</p>
<p class="subject-line">Mae hyn ar gyfer eich rôl fel person sydd â rheolaeth arwyddocaol o:</p>
<p class="subject-line"><span class="subject-line">[[${company_name}]] ([[${company_number}]])</span></p>
<hr/>

<p class="close-packed-top">Annwyl <span class="emphasis">[[${psc_name}]]</span></p>
<p class="close-packed-middle">Ar <span id="welsh-psc-appointment-date">[[${welsh_psc_appointment_date}]]</span>,
    wneath [[${company_name}]] ein hysbysu eich bod yn berson â rheolaeth arwyddocaol (PRhA) o’r cwmni. Mae PRhA yn
    rhywun sydd â rhywfaint o berchnogaeth neu reolaeth o’r cwmni, er enghraifft oherwydd bod ganddynt fwy na 25% o
    gyfrannau neu hawliau pleidleisio.</p>
<p>O dan y pŵer a ddarperir gan adran 790LM o Ddeddf Cwmnïau 2006, mae’r Cofrestrydd Cwmnïau
    bellach yn eich cyfarwyddo i gyflwyno datganiad sy’n cadarnhau bod eich hunaniaeth wedi’i gwirio,
    ac i wneud hynny o fewn 14 diwrnod i ddyddiad y llythyr cyfarwyddyd hwn.</p>
<p>Mae cyfarwyddiadau ar sut i gwrdd â’r gofynion gwiriad hunaniaeth hyn ar gefn y llythyr hwn.</p>
<p class="emphatic-block">Rhaid i chi gydymffurfio â gofynion gwiriad hunaniaeth erbyn
    <span class="emphasis" id="welsh-idv-verification-due-date">[[${welsh_idv_verification_due_date}]]</span>.</p>
<p class="warning-block">
    Os nad ydych chi’n cydymffurfio, efallai y byddwch chi’n cyflawni trosedd.<br/>
    Efallai y byddwch yn wynebu erlyniad a dirwy drwy’r llysoedd, neu gosb<br/>
    ariannol. Yn y dyfodol, byddwn yn cyhoeddi nodyn yn erbyn eich enw ar gofrestr<br/>
    gyhoeddus Tŷ’r Cwmnïau.
    <img class="warning-img" th:src="@{${common} + warning.svg}" alt="Companies House warning"/>
</p>

<p class="emphasis" style="margin-top: 1cm">
    <img class="information-img" th:src="@{${common} + information.svg}" alt="Companies House information"/>
    <table style="width: 100%; margin-left: 8mm">
        <tr></tr>
        <tr>Os nad chi yw [[${psc_name}]], mae’n rhaid i chi anfon y llythyr ymlaen atynt ar unwaith.</tr>
    </table>
</p>

<p class="subject-line" style="page-break-before: always">There are 2 things you must do to comply with identity
    verification requirements.</p>
<p class="subject-line-spacer"></p>

<table>
    <tr>
        <td class="verification-requirements">
            <p class="verification-requirements-heading">1. Verify your identity</p>
            <p class="verification-requirements-text">For information on how to do this, search
                online for ‘Verifying your identity for
                Companies House’, or visit:
                <span class="emphasis">gov.uk/guidance/verifying-your-identity-for-companies-house</span>
            </p>
            <p class="verification-requirements-text">After you’ve verified your identity, you'll get
                a Companies House personal code.</p>
            <p class="verification-requirements-text">If you already have a personal code, you do not
                need to verify your identity again.</p>
        </td>
        <td class="verification-requirements-spacer"></td>
        <td class="verification-requirements">
            <p class="verification-requirements-heading">2. Provide your Companies
                House personal code</p>
            <p class="verification-requirements-text">This is so we can connect your verified identity
                to the PSC name on our records.</p>
            <p class="verification-requirements-text">Search online for the ‘Provide identity
                verification details for a person with significant control’ service, or visit:
                <span class="emphasis">gov.uk/provide-identity-verification-details-for-a-psc</span>
            </p>
            <p class="verification-requirements-text">You’ll also be asked to tick a statement confirming
                that you’ve verified your identity.</p>
            <p class="verification-requirements-text">You need to do this even if you’ve already done it
                for other roles you have at this company, or at other companies.</p>
        </td>
    </tr>
</table>

<p class="small-heading">If you are unable to complete both steps by the deadline</p>
<p style="margin-top: 1mm">Before <span id="welsh-idv-verification-due-date-2">[[${welsh_idv_verification_due_date}]]</span>, you should use the
    ‘Provide identity verification details for a person with significant control’ service to request an extension:<br/>
    <span class="emphasis" style="margin-top: 1mm">gov.uk/provide-identity-verification-details-for-a-psc</span>
</p>

<p class="small-heading">Why PSCs need to verify their identity</p>
<p style="margin-top: 1mm">This is a new legal requirement under the Economic Crime and Corporate Transparency
    Act 2023.</p>
<p style="margin-top: 1mm">All company directors and PSCs must verify their identity to prove they are who
    they say they are.</p>
<p style="margin-top: 1mm">This has been introduced to help prevent people using companies for illegal purposes.</p>

<p class="small-heading">If you do not think you are a PSC of this company</p>
<p style="margin-top: 1mm">Do not ignore this letter. If your details have been used without your permission,
    you must report this to Companies House: <span class="emphasis">gov.uk/report-company-fraud</span></p>