.black-warning-block {
    background-color: #1a1a1a;
    color: white;
    border-radius: 1.2mm;
    margin-top: 2mm;
    padding: 4mm 4mm 4mm 5mm;
    text-align: left;
    font-size: 13pt;
    line-height: 1.15;
    display: block;
    overflow: hidden; /* ensures container wraps floated children */
}

.white-warning-img {
    float: left;
    height: 7mm;
    width: 7mm;
    margin-right: 2mm;
    margin-top: -1mm;
    margin-left: -2mm;
    display: block;
}

.black-warning-block span {
    display: block;
    font-family: Arial, sans-serif;
    overflow: hidden; /* ensures text wraps next to the floated image */
    color: white;
}

.black-warning-block strong {
    font-weight: bold;
    /* display: block; */
    margin-bottom: 2mm;
}

.grey-bg-block {
  border-top: 3px solid #111;
  background-color: #f1f1f1;
  border-radius: 1.2mm;
  padding: 24px 32px 24px 8px;
  margin: 32px 0px;
  max-width: 95%;
  font-family: Arial, sans-serif;
}

.grey-title {
  /*font-size: 2rem;*/
  font-weight: bold;
  margin-bottom: 12px;
}

.grey-list {
  /* font-size: 1.6rem; */
  margin-top: 0;
  margin-bottom: 18px;
  padding-left: 32px;
}

.grey-list li {
  margin-bottom: 6px;
}

.grey-warning-block strong {
  font-weight: bold;
  /* display: block; */
  margin-bottom: 2px;
}

.grey-warning-block {
  background: none;
  margin-top: 8px;
  width: 100%;
  display: block;
  /*overflow: hidden; ensures container wraps floated children */
}

.grey-warning-block span {
  display: block;
  color: #111;
  line-height: 1.15;
  overflow: hidden; /* ensures text wraps next to the floated image */
}

.black-warning-img {
  float: left;
  height: 29px;
  width: 29px;
  margin-right: 2mm;
  margin-top: -5px;
  display: block;
}

